bcrypt==4.2.1
cffi==1.17.1
cryptography==44.0.0
numpy==2.2.0
pandas==2.2.3
pyasn1==0.6.1
pycparser==2.22
pyftpdlib==2.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
rsa==4.9
six==1.17.0
tzdata==2024.2
